@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.landingImage{
    height: 500px;
    z-index: 0;
}
.landingText{
    position: relative;
    z-index: 1;
}

.landingForm{
    z-index: 1;
}

@layer components {
    /* For the button {projects-contact me} in the home page */
    .btn-styled{
        @apply text-white px-7 bg-black/10 border rounded-full p-1.5 hover:bg-gray-50 hover:text-black focus:outline-none focus:ring animate-pulse;
    }
}
